.row {
  display: flex;
}

.column-1, .column-2 {
  flex: 1;
  margin-top: 60%; 
  border:;
  text-align: center;
  margin: 40px;
  padding: 10px;
  background-color: #8EE174;
  font-family: helvetica bold; 
}

.row div img {
  border-radius: 100%;
  width: 150px;
}

body { 

background-color: #FDF1DC;

 }

header {
	background-image: url("../images/jabon.jpg");
	background-size: cover; 
	background-position: bottom center;
	height:30%;
	width:100%; 

}

h1 {
	margin-top: -3%;  
font-size: 11.25em;
font-family: helvetica bold; 
color: #60430F; 
text-align: center; 

}

h3 {

font-size: 2em;
color: green;


}

p { 
	font-family: helvetica bold;
	margin-top: 20%; 
	color: white;
 }

#banner { 
background-image: url(../images/cosa.jpg)
background-size: cover;
background-position: bottom center;
height: 40%; 
width: 100%; 
}

ul li{
	display: inline-block; 
	color: white;
	text-align: center; 
	list-style-type: none; 
	margin: 7%; 
	padding: 0%; 
	margin: 0%;
	padding: 0%;  
	padding-right: 7%;  

}

footer {

	background-color: #8EE174;
	font-size: 1em; 
	text-align: right;
}
nav { 
margin-top: 2%;
margin-bottom: 8%
margin-right:20%;
margin-left:0.01%;
text-align: center; 
background-color: #8EE174;
border: 50%;
font-size: 2em;
height:60%;
	width:100%;


}

li a:hover {
	background-color: #green; 
	 width: 40%; 

}

a{ 
text-decoration: none; 
color: green; 
font-size: 1em;
font-family: mitral;

 }

 a:hover { 
 color:grey; 
 width: 30%; 
}

















