body { 
	font-family: 'Avenir', sans-serif;
	background-color: #FDF1DC;
}

header {
	background-image: url("../images/jabon.jpg");
	background-size: cover; 
	background-position: center center;
	height: 400px;
}

h1 {
	text-align: center;
	padding-top:150px;
	font-size: 4em;
	color: brown;
	font-weight: bold;
}

h3 {
	font-size: 2em;
	color: green;
}

p { 
	margin-top: 20%; 
	color: white;
 }

.row {
  display: flex;
}

.column-1, .column-2 {
  flex: 1;
  margin-top: 60%; 
  border:;
  text-align: center;
  margin: 40px;
  padding: 10px;
  background-color: #8EE174;
}

.row div img {
  border-radius: 100%;
  width: 150px;
}

ul li {
	display: inline-block; 
	color: white;
	text-align: center; 
	list-style-type: none; 
	margin: 7%; 
	padding: 0%; 
	margin: 0%;
	padding: 0%;  
	padding-right: 7%;  
}

footer {
	background-color: #8EE174;
	font-size: 1em; 
	text-align: right;
}

nav { 
	margin-bottom: 8%
	margin-right:20%;
	margin-left:0.01%;
	text-align: center; 
	background-color: #8EE174;
	border: 50%;
	font-size: 2em;
	height:60%;
	width:100%;
}

li a:hover {
	background-color: #green; 
	 width: 40%; 
}

a { 
	text-decoration: none; 
	color: green; 
	font-size: 1em;
}

a:hover { 
	 color:grey; 
	 width: 30%; 
}
